# Secrets | Feature toggle | Project info
NAME="MERN STACK E-commerce  API"
PORT="5000"
VERSION=""

MONGODB_URL="mongodb://localhost:27017/<bdname>"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET= ""
JWT_SECRET=""